<h1>{{title}}</h1>
{{#if consumed}}
  <p class="flash flash-error">This invite has already been used. Please ask your admin for a new one.</p>
{{else if expired}}
  <p class="flash flash-error">This invite has expired. Please ask your admin for a new one.</p>
{{else}}
  {{> flash}}
  <form method="POST" action="/invites/{{token}}" class="invite-form">
    {{> csrf}}
    <div class="form-field">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" value="{{email}}" required autofocus>
    </div>
    <div class="form-field">
      <label for="password">Password (12+ characters)</label>
      <input id="password" name="password" type="password" minlength="12" required>
    </div>
    <button type="submit" class="btn">Create account</button>
  </form>
{{/if}}
